<div class="container">
    <div class="content">
        

        <div class="posts" >
            <div class="posts-list" (scroll)="loadMore($event)" >
                <app-post *ngFor="let post of posts;let i = index" [postID]="post.postID" [post] = "post" [postIndex]="i"></app-post>
                <div *ngIf="posts.length == 0" class="no-posts">
                    <img src="/assets/images/camera.png">
                    <h1>No posts yet.</h1>
                </div>
               
            </div>
            
        </div>
    </div>
   
</div>