<div class="container">
    
    <div class="header">
        <img src="/assets/images/back.png"> 
        <h1>Analytics</h1>
    </div>
    <div class="content">
        <div class="audience">
            <h1>Audience &#9432;</h1> 
            <div class="charts-wrapper">
                
                  <app-chart [chartData]="countriesChart" [chartDataLabel]="'countries'"></app-chart>
                   <app-chart [chartData]="citiesChart" [chartDataLabel]="'cities'"></app-chart>  
               
            </div>
        </div>
    </div>
</div>
