$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;

$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.form-wrap{
    width: 100%;
    height: 100%;
    
    .form-wrap-content{
        width: 98%;
        img{
            width: 150px;
            height: 30px;
        }
        .wrap{
            margin-top: 40px;
            font-size: 25px;
            h1{
                font-size: 1.5em;
                font-family: $HFONT;
                color: $PCOLOR;
                margin: 0;
            }
            p{
              cursor: pointer;
                margin: 0;
                margin-top: 10px !important;
                font-size: 0.9em;
                color: $PCOLOR;
                font-family: $PFONT;
            }
            .inputs{
                margin-top: 50px;
                button{
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: $H1COLOR;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    h1{
                        margin: 0;
                        padding: 0;
                        font-family: $HFONT;
                        letter-spacing: 2px;
                        font-size: .9em;
                    }
                  
                    
                }
                p{
                    font-size: 0.7em;
                    align-self: center;
                    text-align: center;
                    margin-top: 25px !important;
                }
                .form-control {
                    position: relative;
                    margin: 20px 0 40px;
                    width: 100%;
                  }
                  
                  .form-control input {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px #fff solid;
                    display: block;
                    width: 100%;
                    padding: 15px 0;
                    font-size: 18px;
                    color: #fff;
                  }
                  
                  .form-control input:focus,
                  .form-control input:valid {
                    outline: 0;
                    border-bottom-color: lightblue;
                  }
                  
                  .form-control label {
                    position: absolute;
                    font-family: $PFONT;
                    top: 15px;
                    left: 0;
                    pointer-events: none;
                  }
                  
                  .form-control label span {
                    display: inline-block;
                    font-size: 15px;
                    min-width: 5px;
                    color: #fff;
                    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                  }
                  
                  .form-control input:focus+label span,
                  .form-control input:valid+label span {
                    color: lightblue;
                    transform: translateY(-30px);
                  }
            }
        }
    }
}