<div class="container">
    <div class="wrap">
        <div class="header">
            <img src="./assets/images/back.png" alt="" (click)="close()">
            <div class="title">
                <h1>Comments</h1>
            </div>
            
            <div class="helper">

            </div>
        </div>
        <div class="usernames">
            <div 
            class="username" 
            *ngFor="let comment of comments">
                <app-comment [comment]="comment">
                </app-comment>
            </div>
           
        </div>
        <div class="new-comment">
            <input type="text" 
            #commentInput 
            [(ngModel)]="commentText" 
            placeholder="Comment here..." 
            (keydown.enter)="addComment(commentInput)">
        </div>
        
    </div>
</div>