<div class="container">
    <app-navigation></app-navigation>
    <div class="content">
        <div class="wrap">
            <div class="banner">
                <div class="background">
    
                </div>
                <div class="banner-about">
                    <div class="banner-wrap">
                        <div class="profile-image">
                            <div>
                                <img src="./assets/images/avatar.png" alt="">
                            </div>
                          
                        </div>
                        <div class="banner-profile">
                            <div class="info">
                                <div class="bio">
                                    <h1>
                                        Bogdan5
                                    </h1>
                                    <h2>Bogdan Petrovic</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                    </p>
                                </div>
                                
                                <div class="stats">
                                    <p><span class="numbers">321</span> <span> followers</span></p>
                                    <p><span class="numbers">456</span> <span> following</span></p>
                                </div>
                                <div class="buttons">
                                    <button>
                                        <img src="./assets/images/add-friend.png"><h1>Follow</h1>
                                    </button>
                                    <button>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="feed">
                <div class="feed-content">
                    <div class="header">
                        <h1>Posts</h1>
                    </div>
                   
                    <div class="feed-posts-list">
                        <app-post></app-post>
                        <app-post></app-post>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>