<div class="container">
    <app-navigation></app-navigation>
    <div class="content">
        <div class="wrap">
            <div class="banner">
                <div class="background">
    
                </div>
                <div class="banner-about">
                    <div class="banner-wrap">
                        <div class="profile-image">
                            <div>
                                <img src="./assets/images/avatar.png" alt="">
                            </div>
                          
                        </div>
                        <div class="banner-profile">
                            <div class="info">
                                <div class="bio">
                                    <h1>
                                        {{user.username}}
                                    </h1>
                                    <h2>{{user.name}} {{user.lastname}}</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                    </p>
                                </div>
                                
                                <div class="stats">
                                    <p><span class="numbers">{{user.followers}}</span> <span> followers</span></p>
                                    <p><span class="numbers">{{user.followings}}</span> <span> following</span></p>
                                </div>
                                <div class="buttons">
                                    <button>
                                        <img src="./assets/images/add-friend.png"><h1>Follow</h1>
                                    </button>
                                    <button>
                                        Message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="profile-section" >
                <div class="feed">
                    <div class="feed-content">
                        <div class="header">
                            <h1>Posts</h1>
                        </div>
                       
                        <div class="feed-posts-list" (scroll)="loadMore($event)">
                            <app-post *ngFor="let post of posts" [post] = "post"></app-post>
                           
                        </div>
                        <app-lottie-loading *ngIf="isLoading"></app-lottie-loading>
                    </div>
                  
                </div>
                <div class="messages">
    
                </div>
            </div>
           
        </div>
        
    </div>
</div>