
*.jpg
Frontend/PixelNestFrontend/src/assets/images/profile.png
*.jpeg
*.jpg
.vs/
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/AzureClientFactoryBuilderExtensions.cs
Backend/PixelNestBackend/PixelNestBackend/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/obj/Release/net6.0/staticwebassets.pack.json
Backend/PixelNestBackend/PixelNestBackend/obj/Release/net6.0/staticwebassets.development.json
Backend/PixelNestBackend/PixelNestBackend/obj/Release/net6.0/PubTmp/Out/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/obj/Debug/net6.0/staticwebassets.pack.json
Backend/PixelNestBackend/PixelNestBackend/bin/Release/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/bin/Release/net6.0/appsettings.Development.json
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/obj/Debug/net6.0/staticwebassets.development.json
Backend/PixelNestBackend/PixelNestBackend/obj/Debug/net6.0/staticwebassets.pack.json
Backend/PixelNestBackend/PixelNestBackend/bin/Debug/net6.0/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/appsettings.json
Backend/PixelNestBackend/PixelNestBackend/obj/Debug/net6.0/staticwebassets.development.json
