
<div class="container">
    <div class="content">
        <div class="header">
            <img src="/assets/images/back.png" alt="" (click)="navigate()">
            <h1>{{currentUser}}</h1>
        </div>
        <div class="search-bar">
            <div class="input-wrapper">
                <input type="text" placeholder="Search conversations...">
            </div>
        </div>
        <div class="users">
            <div class="chat-wrapper" *ngFor="let chat of chats" (click)="chatNavigation(chat.messages[0].source)">
                <div class="chat-wrapper-content">
                    <app-profile-image 
                    [username]="chat.messages[0].source">
                    </app-profile-image>
                    <div class="chat-info">
                        <div class="chat-status">
                            <h1>
                                {{chat.messages[0].source}}
                            </h1>
                            
                            <div class="status" *ngIf="isActive(chat.messages[0].source)">

                            </div>
                            <p *ngIf="isActive(chat.messages[0].source)">Active now</p>
                            <p *ngIf="!isActive(chat.messages[0].source)">Not active now</p>
                        </div>
                        <div class="chat-data">
                            <div class="message">
                                <p *ngIf="chat.messages[0].sender === currentUser">
                                    You: 
                                </p>
                                <p class="text">{{chat.messages[0].message}}</p>
                            </div>
                           
                            <div class="separator">

                            </div>
                            <p class="ago">{{chat.messages[0].dateSent | timeAgo}}</p>
                        </div>
                        
                    </div>
                   
                </div>
                <app-lottie-notification *ngIf="!chat.messages[0].isSeen"></app-lottie-notification>
            </div>
        </div>
    </div>
</div>
