<div class="container">
    <div class="content">
        <div class="story-section">
            <div class="personal">
                <div class="box">
                    +
                </div>
                <h1>You</h1>
            </div>
            <div class="following">
                <div class="following-list">
                    <div class="user-box">
                        <div class="box">
                            <img src="./assets/images/user.png" alt="">
                        </div>
                        <h1>Bogdan</h1>
                    </div>
                    <div class="user-box">
                        <div class="box">
                            <img src="./assets/images/user.png" alt="">
                        </div>
                        <h1>Bogdan</h1>
                    </div>
                    <div class="user-box">
                        <div class="box">
                            <img src="./assets/images/user.png" alt="">
                        </div>
                        <h1>Bogdan</h1>
                    </div>
                    <div class="user-box">
                        <div class="box">
                            <img src="./assets/images/user.png" alt="">
                        </div>
                        <h1>Bogdan</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="posts" (scroll)="loadMore($event)">
            <div class="posts-list">
                <app-post *ngFor="let post of posts" [post] = "post"></app-post>
                
            </div>
            
        </div>
    </div>
    <app-lottie-loading *ngIf="isLoading"></app-lottie-loading>
</div>