<app-likes *ngIf="isLikesTabOpen" [likes]="likedByUsers"  (closeLikesTab)="closeLikesTab()"></app-likes>
<app-comments *ngIf="areCommentsOpened" [comments]="post.allComments" (closeCommentsTab)="closeCommentsTab()"></app-comments>

<app-delete-dialog *ngIf="deleteDialog" [postID] = "post.postID" (closeDeleteDialog)="closeDeleteDialog()"></app-delete-dialog>

<div class="container">
    <div class="content">
        <div class="basic-info">
            
            <div class="info">
                <app-user-tag [post]="post" [username]="post.ownerUsername" [date]="post.publishDate" [location]="post.location"></app-user-tag>
                
                
            </div>
            <div class="delete" *ngIf="post.isDeletable" >
                <img src="/assets/images/trash-bin.png" (click)="openDeleteDialog()">
            </div>
        </div>
        <div class="image-holder"  
            >
            
            <div class="image-slider" [id]="'image-slider-'+this.postIndex"
               
                (touchstart)="onPanStart($event, postIndex)" 
                (touchmove)="onPanMove($event, postIndex)" 
                (touchend)="onPanEnd($event, postIndex)"

               
                [ngStyle]="{'transform': 'translateX(' + marginLeft + 'px)'}"
                >
                <div  class="image-wrapper" *ngFor="let src of post.imagePaths" >
                    <img *ngIf="post.imagePaths.length > 0" 
                    src="http://localhost:7157/Photos/{{src.path}}" 
                    loading="lazy" [ngStyle]="{'object-fit':post.imagePaths[0].photoDisplay}" alt=""
                    
                    
                    >
                </div>
        </div>
            <div class="nav-bar" *ngIf="post.imagePaths.length > 1">
                <div class="bar-progress" [ngStyle]="{'margin-left': progressBarMargin + '%'}" [style.width]="'calc(100% / ' + post.imagePaths.length + ')'">

                </div>
            </div>
            <!-- <img *ngIf="post.imagePaths.length > 0" src="{{baseUrl}}{{ post.imagePaths[0].path }}" loading="lazy" [ngStyle]="{'object-fit':post.imagePaths[0].photoDisplay}" alt=""> -->
        </div>
        
       <div class="description">
            <p>{{ post.postDescription }}</p>
       </div>
       <div class="hl">

       </div>
       <div class="post-options">
            <div class="basic">
                <div class="option" >
                    <img *ngIf="!isLiked" src="./assets/images/notLiked.png" alt="" (click)="likePost(post.postID)">
                    <img *ngIf="isLiked" src="./assets/images/liked.png" alt="" (click)="likePost(post.postID)">
                    <p (click)="showLikes()">{{likedByUsers.length}} Likes</p>
                </div>
                <div class="option" (click)="showComments()">
                    <img src="./assets/images/comment.png" alt="">
                    <p>{{post.totalComments}} comments</p> 
                </div>
            </div>
           <div class="basic-1">
             <div class="option" (click)="savePost()">
                <img *ngIf="isSavedByUser()" src="./assets/images/saved.png">
                <img *ngIf="!isSavedByUser()" src="./assets/images/unsaved.png">
             </div>
           </div>
       </div>
    </div>
    
</div>
