<app-likes *ngIf="isLikesTabOpen" [likes]="likedByUsers"  (closeLikesTab)="closeLikesTab()"></app-likes>
<app-comments *ngIf="areCommentsOpened" [comments]="post.comments"></app-comments>
<div class="container">
    <div class="content">
        <div class="basic-info">
            <img src="./assets/images/user.png" alt="">
            <div class="info">
                <h1>
                   {{post.ownerUsername}} 
                </h1>
                <p>{{formattedDate}}<span class="material-symbols-outlined">
                    location_on
                </span> 
                Los Angeles
                </p>
                
            </div>
        </div>
        <div class="image-holder">
            <img *ngIf="post.imagePaths.length > 0" src="http://localhost:7157/Photos/{{ post.imagePaths[0].path }}" loading="lazy" [ngStyle]="{'object-fit':post.imagePaths[0].photoDisplay}" alt="">
            
        </div>
       <div class="description">
            <p>{{post.postDescription}}</p>
       </div>
       <div class="hl">

       </div>
       <div class="post-options">
            <div class="basic">
                <div class="option" >
                    <img *ngIf="!isLiked" src="./assets/images/notLiked.png" alt="" (click)="likePost(post.postID)">
                    <img *ngIf="isLiked" src="./assets/images/liked.png" alt="" (click)="likePost(post.postID)">
                    <p (click)="showLikes()">{{likedByUsers.length}} Likes</p>
                </div>
                <div class="option" (click)="showComments()">
                    <img src="./assets/images/comment.png" alt="">
                </div>
            </div>
           <div class="basic-1">
             <div class="option">
                <img src="./assets/images/saved.png">

             </div>
           </div>
       </div>
    </div>
</div>
