<div class="container">
    <div class="content">
        <div class="basic-info">
            <img src="./assets/images/user.png" alt="">
            <div class="info">
                <h1>
                   Johnny Five 
                </h1>
                <p>25 Aug at 15:56 <span class="material-symbols-outlined">
                    location_on
                </span> 
                Los Angeles
                </p>
                
            </div>
        </div>
        <div class="image-holder">
            <img src="./assets/images/nature.jpg" alt="">
        </div>
       <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatum ipsa magnam perspiciatis, error in architecto necessitatibus, eius neque expedita re</p>
       </div>
       <div class="hl">

       </div>
       <div class="post-options">
            <div class="basic">
                <div class="option">
                    <img src="./assets/images/liked.png" alt="">
                </div>
                <div class="option">
                    <img src="./assets/images/comment.png" alt="">
                </div>
            </div>
           <div class="basic-1">
             <div class="option">
                <img src="./assets/images/saved.png">

             </div>
           </div>
       </div>
    </div>
</div>
