<div class="container" >
    <app-new-post *ngIf="layoutState$?.isNewPostTabOpened"></app-new-post>
    <app-log-out-dialog *ngIf="layoutState$?.isLogoutDialogOpened"></app-log-out-dialog>
    <app-notification *ngIf="layoutState$?.newNotification"></app-notification>
    <app-session-expired-dialog *ngIf="layoutState$?.isSessionExpired"></app-session-expired-dialog>
    <app-pixelnest-loading *ngIf="layoutState$?.isFeedInitializing"></app-pixelnest-loading>
    <div class="content">
        <div class="navigation">
            <app-navigation></app-navigation>
        </div>
        <div class="components-wrap">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-lottie-success *ngIf="layoutState$?.isSuccess"></app-lottie-success>
    <div class="is-initialized" *ngIf="layoutState$?.isInitializing">
        <app-lottie-loading ></app-lottie-loading>
    </div>
  
</div>
