<div class="container">
    <div class="story-section">
        <div class="personal">
            <!-- <div *ngIf="default && storiesByUser?.length == 0" class="box" (click)="openNewStory()">
                +
            </div> -->
            <div class="new-story" (click)="openNewStory()">
                +
            </div>
            <div class="box" (click)="extractedStories.length == 0 && openNewStory()" (click)="extractedStories.length > 0 && openUserStories(0)"  [ngStyle]="{
                'border': extractedStories.length === 0 ? 'none' :
                          (extractedStories.length > 0 && !extractedStories[extractedStories.length - 1].seenByUser) ? 
                          '2px solid red' : '2px solid gray'
              }">
               
                <app-profile-image [stringUrl]="stringUrl" [username]="username" [ngStyle]="{
                    'width': extractedStories.length === 0 ? '100%' : '',
                    'height': extractedStories.length === 0 ? '100%' : ''
                  }"></app-profile-image>
            </div>
            <h1>You</h1>
        </div>
        <div class="following" id="following-list" #storyListWrapper>
            <div class="following-list"
              
             #storyList 
             (touchstart)="onPanStart($event)" 
            (touchmove)="onPanMove($event)" 
            (touchend)="onPanEnd($event)"
            [ngStyle]="{'transform': 'translateX(' + marginLeft + 'px)'}">
                <div class="user-box" #userBox *ngFor="let story of groupedStories; let i = index" (click)="openStories(i)">
                    
                    <div class="box" [ngStyle]="{'border': story?.stories?.[story.stories!.length - 1]?.seenByUser ? '2px solid gray':'2px solid red'} ">
                        <app-profile-image [username]="story.ownerUsername"></app-profile-image>
                        <!-- <div class="new"></div> -->
                    </div>
                    <h1>{{story.ownerUsername}}</h1>
                </div>
               
            </div>
        </div>
    </div>
</div>
<app-new-story *ngIf="newStory"></app-new-story>
<app-story-list *ngIf="storyPreview" [storyList]="activeStoryList" [userIndex]="selectedStoryIndex"></app-story-list>
