<div class="container">
    <div class="story-section">
        <div class="personal">
            <div class="box" (click)="openNewStory()">
                +
            </div>
            <h1>You</h1>
        </div>
        <div class="following">
            <div class="following-list">
                <div class="user-box" *ngFor="let story of groupedStories; let i = index" (click)="openStories(i)">
                    
                    <div class="box">
                        <img src="./assets/images/user.png" alt="">
                        <!-- <div class="new"></div> -->
                    </div>
                    <h1>{{story.ownerUsername}}</h1>
                </div>
               
            </div>
        </div>
    </div>
</div>
<app-new-story *ngIf="newStory"></app-new-story>
<app-story-list *ngIf="storyPreview" [storyList]="groupedStories"></app-story-list>