<div class="container">
    <app-lottie-success *ngIf="isSuccess"></app-lottie-success>
    <div class="content">
        <div class="form-wrapper">
            <div class="form">
          
                <div class="router-wrapper">
                    <router-outlet></router-outlet>
                </div>
           
            
       
        </div>
        </div>
       
        <div class="background-image">
      
           <img src="/assets/images/bg3.png" alt="">
        </div>
    </div>
</div>
