$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;
$BORDERCOLOR:rgb(87, 87, 87);
$TABCOLOR:#32373a;
$HOVERTABCOLOR:#32373a;
$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.container{
    background-color: $BGCOLOR;
    width: 100%;
    
    min-height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    position: relative;
    .note{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.774);
        .note-wrapper{
            width: 25%;
            padding-top: 20px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            border-radius: 25px;
            border: 1px solid $BORDERCOLOR;
            background-color: $TABCOLOR;
            position: relative;
            span{
                position: absolute;
                font-size: 0.7em;
                font-family: $PFONT;
                color: $PCOLOR;
                top: 10px;
                right: 10px;
                font-weight: 800;
                cursor: pointer;
            }
            h1{
                font-size: 0.9em;
                color: $PCOLOR;
                font-family: $PFONT;

            }
            p{
                font-size: 0.7em;
                color: $PCOLOR;
                text-align: center;
                font-family: $PFONT;
                font-weight: 200;
                opacity: 0.9;
                width: 90%;
            }
        }
    }
    .is-initialized{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.651);
        ::ng-deep app-lottie-loading{
            .alert{
                position: relative;
            }
        }
    }
    .content::before{
        position: absolute;
        min-height: 100%;
        width: 40%;
        top: 0;
        left: 0;
        box-shadow: 17px 0px 15px 1px rgba(0,0,0,1);
        content: '';
    }
    .content{
        width: 90%;
        
        position: relative;
        min-height: 100dvh;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        overflow-y: hidden;
        div.form-wrapper{
            width: 40%;
           
            min-height: 80dvh;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            
            .form{
            
                width: 100%;
              
                min-height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              
                .background{
                    display: none;
                }
                .router-wrapper{
                    width: 70%;
                    height: 100%;
                }
            }
        }
       
        .background-image{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
         
            img{
                width:185%;
                height: 80%;
            }
        }
       
    }
}
@media only screen and (min-width: 0px) and (max-width:767px){
    .container{
        .note{
            .note-wrapper{
                width: 90%;
            }
        }
        
        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
            div.form-wrapper{
                width: 100%;
               
                min-height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                
                .form{
                
                    width: 100%;
                  
                    min-height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  
                    .background{
                        display: none;
                    }
                    .router-wrapper{
                        width: 90%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width:1023px){
    .container{
        .note{
            .note-wrapper{
                width: 90%;
            }
        }
        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
            div.form-wrapper{
                width: 100%;
               
                min-height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                
                .form{
                
                    width: 100%;
                  
                    min-height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  
                    .background{
                        display: none;
                    }
                    .router-wrapper{
                        width: 90%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:0px) and (max-width:1023px){
    .container{
     
        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
            div.form-wrapper{
                width: 100%;
               
                min-height: 80vh;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                
                .form{
                
                    width: 100%;
                  
                    min-height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  
                 
                }
            }
            .background-image{
                display: none;
            }
            .form-wrapper::before{
                width: 100%;
                height: 50%;
                content: '';
                top: -5%;
                left: 0;
                position: absolute;
                background-image: url('/assets/images/background.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
           
        }
        .content::before{
            display: none;
        }
       
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px){
    .container{
        background-color: $BGCOLOR;
        width: 100%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .note{
            .note-wrapper{
                width: 60%;
            }
        }
        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            div.form-wrapper{
                width: 40%;
               
                min-height: 80dvh;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                
                .form{
                
                    width: 100%;
                  
                    min-height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                  
                    .background{
                        display: none;
                    }
                    .router-wrapper{
                        width: 70%;
                        height: 100%;
                    }
                }
            }
            .background-image{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;

                justify-content: flex-end;
                align-items: center;
                overflow: hidden;
             
                img{
                    width:280%;
                    height: 80%;
                    margin-right: -40px;
                }
            }
           
        }
    }
}
@media only screen and (min-width:1201px) and (max-width:1400px){
    .container{
        .note{
            .note-wrapper{
                width: 50%;
            }
        }
    }
    
}