<div class="container" >
    <div class="content animate__animated animate__zoomIn animate__faster" [ngClass]="anim ? 'animate__zoomOut animate__faster' : ''" tabindex="1" *ngIf="newPostForm">
        <div class="header">
            <h1>
               Create new post 
            </h1>
        </div>
        <div class="post">
            <div class="image">
                <img *ngIf="imageSrc" [src]="imageSrc" alt="Selected Image" style="width: 100%; height: 100%;" [ngStyle]="{'object-fit': objectFit}" />
                <div class="open-image" *ngIf="img">
                    
                    <img src="./assets/images/add.png" alt="">
                    <div>
                        <input type="file" type="file" #fileInput  (change)="onFileSelected($event)">
                       
                        <button (click)="fileInput.click()"  >Select from computer</button>
                    </div>
                </div>
                <button class="image-display-variant" *ngIf="imageDisplay" (click)="toggleObjectFit()">
                    <img src="./assets/images/expand-arrows.png" alt="">
                </button>
            </div>
            <div class="post-options">
                <span class="caption" *ngIf="isCaption">Write caption...</span>
                <div tabindex="0" class="description" contenteditable="true" aria-placeholder="description" (input)="updateCharCount($event)" (focus)="hideCaption()" (blur)="showCaption()" #descriptionDiv>
                   
                </div>
                <span>
                    {{charCount}}/{{maxChar}}
                </span>
                <div class="options">
                    <div class="location">
                        <input type="text" id="locationInput" placeholder="Enter a location" (input)="onLocationInput($event)" [value]="locationCenter" (focus)="setFocus()" [(ngModel)]="locationValue" />
                        <div id="suggestionsList" *ngIf="inFocus()">
                            <div *ngFor="let suggestion of suggestions" (click)="setLocation(suggestion)">{{ suggestion.place_name }}</div>
                        </div>
                    </div>
                </div>
                <button (click)="sharePost()">
                    Share
                </button>
            </div>
         
        </div>
        <span class="close" (click)="closeCreateNewPost()">
            Close
        </span>
    </div>
    <app-lottie-success *ngIf="isShared"></app-lottie-success>
    <app-lottie-fail *ngIf="isError"></app-lottie-fail>
</div>
