.alert{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: calc(100% - 20px);
    width: 100%;
 
    iframe{
        border: none;
    }
}