$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;
$BORDERCOLOR:rgb(87, 87, 87);
$TABCOLOR:#32373a;
$HOVERTABCOLOR:#32373a;
$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.container{
    position: absolute;
    background-color: $TABCOLOR;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    border-bottom: 1px solid $BORDERCOLOR;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        overflow: hidden;
        gap: 20px;
        app-profile-image{
            width: 40px;
            height: 40px;
        }
        .user-info{
            font-size: 25px;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 0.8em;
                color: $PCOLOR;
                font-family: $PFONT;
                margin: 0;
            }
            p{
                margin: 0;
                font-size: 0.7em;
                color: $PCOLOR;
                font-family: $PFONT;
                font-weight: 300;

            }
        }
    }
}