<div class="container ">
    <div class="notification-list">
        <div class="wrapper animate__animated animate__fadeIn" *ngFor="let notification of lastTwoNotifications" >
            <app-profile-image [clientGuid]="notification.clientGuid" [username]="notification.username"></app-profile-image>
            <div class="notification-description">
                <h1>
                    {{notification.username}}
                </h1>
                <p>
                    {{notification.message}}
                </p>
            </div>
        </div>
    </div>
</div>
