$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;
$TABCOLOR:#32373a;
$HOVERTABCOLOR:#32373aa1;
$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.container{
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .replies-container{
        width: 95%;
        display: flex;
        flex-direction: column;
      
        align-self: flex-end;
        .reply{
            width: 100%;
   
            app-comment{
               
                width: 100%;
            }
        }
    }
    span{
        font-size: 0.55em;
        font-family: $PFONT;
        font-weight: 300;
        color: $PCOLOR;
        opacity: 0.7;
        cursor: pointer;
        margin-top: 5px;
        
    }
    span.view-replies{
        margin-left: 7%;
    }
    .comment-wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
        .comment{
            display: flex;
            flex-direction: row;
            gap: 10px;
            width:90%;
            .details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                width: calc(100% - 40px);
                font-size: 25px;
                color: $PCOLOR;
                font-family: $PFONT;
                input{
                    width: 90%;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #484f53 !important;
                    font-family: $PFONT;
                    color: white;
                    margin-top: 10px;
                }
                h1{
                    margin: 0;
                    font-size: 0.7em;
                    font-weight: 400;
                }
                p{
                    margin: 0;
                    font-size: 0.7em;
                    font-weight: 300;
                   span{
                    font-size: 1em !important;
                    font-weight: 400 !important;
                    opacity: 0.7 !important;
                   }
                }
                span{
                    font-size: 0.55em;
                    font-family: $PFONT;
                    font-weight: 300;
                    color: $PCOLOR;
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
            img{
                width: 40px;
                height: 40px;
            }
        }
        
        img.like{
            width: 20px;
            height: 20px;
            margin-right: 0;
            cursor: pointer;
        }
    }
    
}