<div class="container">
    <div class="comment-wrap">
        <div class="comment">
            <img src="./assets/images/user.png" alt="">
            <div class="details">
                <h1>{{comment.username}}</h1>
               <p>{{comment.commentText}} </p>
               <span (click)="openParentReply()">Reply</span>
               <input (keydown.enter)="replyComment(comment.commentID)" type="text" placeholder="Reply here..."  [(ngModel)]="replyText" *ngIf="isReplyBox">
            </div>
        </div>
        <img class="like" src="./assets/images/like.png" alt="">
    </div>
    <span class="view-replies" *ngIf="haveReplies()" (click)="getReplies()" (click)="toggleReplies()">View replies</span>

    <div class="replies-container">
        <!-- <div class="reply" *ngFor="let reply of replies">
            <app-comment [comment]="reply"></app-comment>
        </div> -->

        <div class="comment-wrap" *ngFor="let reply of flattenReplies; let i = index">
            <div class="comment" >
                <img src="./assets/images/user.png" alt="">
                <div class="details">
                    <h1>{{reply.username}}</h1>
                   <p><span>{{findUsername(reply.parentCommentID)}}</span> {{reply.commentText}} </p>
                   <span (click)="openReplyBox(i)">Reply</span>
                   <input (keydown.enter)="replyComment(reply.commentID)" type="text" placeholder="Reply here..." *ngIf="reply.isReplyBox" [(ngModel)]="replyText">
                </div>
            </div>
            <img class="like" src="./assets/images/like.png" alt="">
        </div>
    </div>
</div>

