<div class="notification">
    <img class="mobile" *ngIf="like" src="/assets/images/notificationLike.png" alt="">
    <img class="mobile" *ngIf="comment" src="/assets/images/commentNotification.png" alt="">
    <img class="mobile" *ngIf="follower" src="/assets/images/followerNotification.png" alt="">

    <img class="desktop" *ngIf="like" src="/assets/images/notificationLikeLeft.png" alt="">
    <img class="desktop" *ngIf="comment" src="/assets/images/commentNotificationLeft.png" alt="">
    <img class="desktop" *ngIf="follower" src="/assets/images/followerNotificationLeft.png" alt="">
</div>
