<div class="container">
    <div class="wrap">
        <div class="header">
          <h1>Followings</h1>
        </div>
        <div class="usernames">
            <div class="username" *ngFor="let user of followings">
               <app-profile-image 
               [clientGuid]="user.followingClientGuid" 
               [username]="user.followingUsername">
            </app-profile-image>
            <h1>{{user.followingUsername}}</h1>
            </div>
        </div>
        <div class="footer">
            <h1 (click)="close()">Close</h1>
        </div>
    </div>
</div>