$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;
$BORDERCOLOR:rgb(87, 87, 87);
$TABCOLOR:#32373a;
$HOVERTABCOLOR:#32373a;
$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .wrap{
            width: 100%;
            height: 100%;
            max-height: 100%;
           
        
            overflow: auto;
            -ms-overflow-style: none;  
            scrollbar-width: none; 
            padding-bottom: 40px;
            .banner{
                width: 99%;
           
                border: 1px solid $BORDERCOLOR;
                border-radius: 25px;
                margin: 0 auto;
                margin-top: 40px !important;
               
                flex-grow: 1;
                margin-bottom: 20px;
                .background{
                    width: 100%;
                    height: 250px;
                    background: linear-gradient(90deg, #0d1117, #1b1f24);
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                  
                }
                .banner-about{
                    width: 100%;
                    height:55%;
                    background-color: #161b22;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    display: flex;
                    flex-direction: column;
                 
                    align-items: center;
                    .banner-wrap{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        
                        width: 90%;
                        .profile-image{
                            width: 130px;
                            height: 130px;
                            border-radius: 50%;
                            background-color: #161b22;;
                            position: absolute;
                            top: -60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            div{
                                width: 80%;
                                height: 80%;
                                overflow: hidden;
                                border-radius: 50%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            
                        }
                        .banner-profile{
                            margin-top: 50px;
                            .info{
                                font-size: 25px;
                                .bio{
                                    h1{
                                        font-family: $PFONT;
                                        font-weight: 800;
                                        font-size: 1.4em;
                                        color: $PCOLOR;
                                    }
                                    h2{
                                        font-size: 0.8em;
                                        
                                        font-family: $HFONT;
                                        color: #c9d1d9;
                                        font-style: italic;
                                        
                                    }
                                    p{
                                        color:#c9d1d9;
                                       
                                        font-size: 0.7em;
                                        font-weight: 300;
                                        font-family: $PFONT;
                                        margin: 0;
                                    }
                                }
                                .stats{
                                    margin-top: 80px;
                                    display: flex;
                                    flex-direction: row;
                                    gap: 30px;
                                    font-size: 25px;
                                    p{
                                        font-size: 0.7em;
                                        font-family: $PFONT;
                                        color: $PCOLOR;
                                       
                                        span.numbers{
                                            font-size: 1.7em ;
                                            color: #58a6ff;
                                            opacity: 1 !important;
                                            font-weight: 600;
                                        }
                                        span{
                                            opacity: 0.7;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                .buttons{
                                    display: flex;
                                    flex-direction: row;
                                    gap: 20px;
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                    font-size: 25px;
                                    button.follow{
                                       width: 150px;
                                       height: 50px;
                                       font-size: 0.65em;
                                       font-family: $PFONT;
                                       background-color: #007bff;
                                       border: none;
                                       outline: none;
                                       color: $PCOLOR;
                                       border-radius: 5px;
                                       display: flex;
                                       flex-direction: row;
                                       align-items: center;
                                       justify-content: center;
                                       h1{
                                        font-size: 1em;
                                        align-self: center;
                                        margin: 0;
                                        margin-top: 5px !important;
                                       }
                                       gap: 10px;
                                       img{
                                        width: 20px;
                                        height: 20px;
                                       }
                                    }
                                    button.no-follow{
                                        background-color: transparent;
                                        border: 1px solid white;
                                    }
                                    button.message{
                                        background-color: transparent !important;
                                        border: 1px solid white;
                                        color: $PCOLOR;
                                        width: 150px;
                                        height: 50px;
                                        font-size: 0.65em;
                                        font-family: $PFONT;
                                        border-radius: 5px;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: center;
                                      
                                    }
                                    button.edit{
                                        background-color: transparent !important;
                                        border: 1px solid white;
                                        color: $PCOLOR;
                                        width: 150px;
                                        height: 50px;
                                        font-size: 0.65em;
                                        font-family: $PFONT;
                                        border-radius: 5px;
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: center;
                                        h1{
                                            font-size: 1em;
                                            align-self: center;
                                            margin: 0;
                                           
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                   
                }
            }
            .profile-section{
                width: 99%;
                height: calc(100% - 100px);
                display: flex;
                flex-direction: row;
                
                margin: 0 auto;
                .messages{
                    width: 0%;
                    height: 100%;
                }
                .feed{
                
                    width: 100%;
                    height: 100%;
                    border: 1px solid $BORDERCOLOR;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: row;
                   justify-content: center;
                    
                  
                    
                   
                    overflow: hidden;
                    .feed-content{
                        width: 90%;
                        height: 100%;
                        font-size: 25px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                       
                        align-items: center;
                        .header{
                            width: 100%;
                            height: 10%;
                            font-size: 25px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            h1{
                                color: $PCOLOR;
                                font-family: $PFONT;
                                font-size: 1.4em;
                                margin: 0;
                            }
                        }
                        .feed-posts{
                           height: 90%;
                           width: 100%;
                        }
                        ::ng-deep app-feed  {
                            .container {
                                .content {
                                    .posts {
                                        .posts-list {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: left;
                                            gap: 1.5%;
                                            width: 100%;
                                           
                                        }
                                        .no-posts{
                                            margin: 0 auto !important;
                                        }
                                    }
                                    .posts-option{
                                        .option{
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }
                        ::ng-deep app-post  {
                            width: 49.25%;
                            flex-shrink: 0;
                            .container{
                                
                                .content{
                                    .image-holder{
                                        height: 350px;
                                    }
                                    .post-options{
                                            .option{
                                                
                                                font-size: 25px;
                                                display: flex;
                                                flex-direction: row;
                                                gap: 10px;
                                                width: 40%;
                                                
                                            }   
                                    }
                                }
                            }
                        }
                        ::ng-deep app-post:last-child  {
                            margin-bottom: 5%;
                        }
                        // .feed-posts-list{
                        //     display: flex;
                        //     flex-direction: row ;
                        //     justify-content: left;
                        //     gap:6%;
                        //     flex-wrap: wrap !important;
                        //     align-self: center;
                        //     max-height: 90%;
                        //     width: 100%;
                        //     overflow-y: scroll;
                        //     -ms-overflow-style: none;  
                        //     scrollbar-width: none; 
                            
                        //     app-post{
                        //         width: 47%;
                        //         margin-bottom: 40px;
                        //     }
                        // }
                    }
                    
                }
                .feed::-webkit-scrollbar {
                    width: 8px;
                }
                .feed::-webkit-scrollbar-thumb {
                    background-color: rgba(255, 255, 255, 0.5); 
                    border-radius: 10px;  
                }
            }
            
        }
        
    }
  
}
@media only screen and (min-width: 0px) and (max-width: 767px){
    .container{
        width: 100%;
        height: 100vh;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .wrap{
                width: 100%;
                height: 100%;
                max-height: 100%;
               
            
                overflow: auto;
                -ms-overflow-style: none;  
                scrollbar-width: none; 
                padding-bottom: 80px;
            }
        }
        ::ng-deep app-post  {
           
            .container{
                
                .content{
                    .image-holder{
                        height: 250px !important;
                    }
                    .post-options{
                            .option{
                                
                            
                                
                            }   
                    }
                }
            }
        }
        ::ng-deep app-post:last-child  {
            margin-bottom: 5%;
        }
    }
}
@media only screen and (min-width: 0px) and (max-width: 1300px)
{
    ::ng-deep app-feed  {
        .container {
            .content {
                .posts {
                    .posts-list {
                        display: flex;
                        flex-direction: row !important;
                        
                        gap: 1.5%;
                        width: 100%;
                       
                    }
                }
                .posts-option{
                    .option{
                        width: 50%;
                    }
                }
            }
        }
    }
    ::ng-deep app-post  {
        width: 100% !important;
        flex-shrink: 0;
        .container{
            
            .content{
                .image-holder{
                    height: 350px;
                }
                .post-options{
                        .option{
                            
                            font-size: 25px;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            width: 40%;
                            
                        }   
                }
            }
        }
    }
}