<div class="comment-wrap">
    <div class="comment" >
        <img src="./assets/images/user.png" alt="">
        <div class="details">
            <h1 (click)="navigateToProfile(reply.username)">{{reply.username}}</h1>
            <p><span (click)="navigateToProfile(trimAtSymbol(parentUsername))">{{parentUsername}}</span> {{reply.commentText}} </p>
            <span (click)="openReplyBox()">Reply</span>
            <div *ngIf="isReplyBox">
                <input (keydown.enter)="replyToComment()" type="text" placeholder="Reply here..."  [(ngModel)]="replyText" >
                <span class="reply-button" (click)="replyToComment()">
                    <img src="/assets/images/arrow.png" alt="">
                </span>
               </div>
            
            
        </div>
    </div>
    <app-like-comment [commentID]="reply.commentID" [likedByUsers]="reply.likedByUsers" [username]="reply.username"></app-like-comment>
</div>

