<div class="form-wrap" >
   
    <div class="form-wrap-content">
        <img src="/assets/images/PixelNestLogo.png" alt="">
        <div class="wrap">
            <img src="/assets/images/aperture.png">
            <h1>Create an account: </h1>
            <p>Let's get started</p>
            <form class="inputs" [formGroup] = "registerForm" (ngSubmit) = "register()">
                <div class="track" [ngStyle]="{'margin-left':marginLeft+'%'}">
                    <div class="first-slide" >
                        
                        <div class="form-control">
                            <input 
                            required 
                            type="value" 
                            formControlName="Firstname" 
                           >
                            <label>
                                <span style="transition-delay:400ms">F</span>
                                <span style="transition-delay:350ms">i</span>
                                <span style="transition-delay:300ms">r</span>
                                <span style="transition-delay:250ms">s</span>
                                <span style="transition-delay:200ms">t</span>
                                <span style="transition-delay:150ms">n</span>
                                <span style="transition-delay:100ms">a</span>
                                <span style="transition-delay:50ms">m</span>
                                <span style="transition-delay:0ms">e</span>
                            </label>
                            <div *ngIf="registerForm.get('Firstname')?.invalid && registerForm.get('Firstname')?.touched" class="invalid-feedback">
                                Firstname is required.
                            </div>
                        </div>
                        <div class="form-control">
                            <input required type="value" formControlName="Lastname">
                            <label>
                                <span style="transition-delay:350ms">L</span>
                                <span style="transition-delay:300ms">a</span>
                                <span style="transition-delay:250ms">s</span>
                                <span style="transition-delay:200ms">t</span>
                                <span style="transition-delay:150ms">n</span>
                                <span style="transition-delay:100ms">a</span>
                                <span style="transition-delay:50ms">m</span>
                                <span style="transition-delay:0ms">e</span>
                            </label>
                            <div *ngIf="registerForm.get('Lastname')?.invalid && registerForm.get('Lastname')?.touched" class="invalid-feedback">
                                Lastname is required.
                            </div>
                        </div>
                        <div class="form-control">
                            <input required type="value" formControlName="Username">
                            <label>
                                <span style="transition-delay:350ms">U</span>
                                <span style="transition-delay:300ms">s</span>
                                <span style="transition-delay:250ms">e</span>
                                <span style="transition-delay:200ms">r</span>
                                <span style="transition-delay:150ms">n</span>
                                <span style="transition-delay:100ms">a</span>
                                <span style="transition-delay:50ms">m</span>
                                <span style="transition-delay:0ms">e</span>
                            </label>
                            <div *ngIf="registerForm.get('Username')?.invalid && registerForm.get('Username')?.touched" class="invalid-feedback">
                               Username is required
                            </div>
                        </div>

                       
                       
                    </div>
                    <div class="third-slide">
                        <div class="form-control country">
                            <input required type="value" formControlName="Country" 
                            (focus)="openSelectionCountry()" 
                            (blur)="openSelectionCountry()" 
                            (keyup)="filterCountries($event)">
                            <label>
                                <span style="transition-delay:350ms">C</span>
                                <span style="transition-delay:300ms">o</span>
                                <span style="transition-delay:250ms">u</span>
                                <span style="transition-delay:200ms">n</span>
                                <span style="transition-delay:150ms">t</span>
                                <span style="transition-delay:100ms">r</span>
                                <span style="transition-delay:0ms">y</span>
                                
                            </label>
                            <div *ngIf="registerForm.get('Country')?.invalid && registerForm.get('Country')?.touched" class="invalid-feedback">
                               Country is required
                            </div>
                            <div class="country-wrapper" [ngClass]="isSelectableCountry ? 'country-wrapper open' : 'country-wrapper'">
                                <div *ngFor="let country of filteredCountries" class="country" (click)="selectCountry(country)">
                                    {{country}}
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-control city">
                            <input required type="value" formControlName="City" 
                            (focus)="openSelectionCity()"
                            (blur)="openSelectionCity()"
                            (keyup)="filterCities($event)"
                            >
                            <label>
                                <span style="transition-delay:150ms">C</span>
                                <span style="transition-delay:100ms">i</span>
                                <span style="transition-delay:50ms">t</span>
                                <span style="transition-delay:0ms">y</span>
                              
                                
                            </label>
                            <div 
                            *ngIf="registerForm.get('City')?.invalid && registerForm.get('City')?.touched" 
                            class="invalid-feedback">
                               City is required
                            </div>
                            <div class="country-wrapper" 
                            [ngClass]="isSelectableCity ? 'country-wrapper open' : 'country-wrapper'">
                                <div 
                                *ngFor="let city of filteredCities" 
                                class="country"
                                 (click)="selectCity(city)">
                                    {{city}}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="second-slide">
                        <div class="form-control">
                            <input required type="value" formControlName="Email">
                            <label>
                                <span style="transition-delay:200ms">E</span>
                                <span style="transition-delay:150ms">m</span>
                                <span style="transition-delay:100ms">a</span>
                                <span style="transition-delay:50ms">i</span>
                                <span style="transition-delay:0ms">l</span>
                                
                            </label>
                            <div *ngIf="registerForm.get('Email')?.hasError('required') && registerForm.get('Email')?.touched" class="invalid-feedback">
                                Email is required!
                            </div>
                            <div *ngIf="registerForm.get('Email')?.hasError('pattern')" class="invalid-feedback">
                                Email format must be example&#64;email.com
                            </div>
                        </div>
                        <div class="form-control">
                            <input required type="password" formControlName="Password">
                            <label>
                                <span style="transition-delay:350ms">P</span>
                                <span style="transition-delay:300ms">a</span>
                                <span style="transition-delay:250ms">s</span>
                                <span style="transition-delay:200ms">s</span>
                                <span style="transition-delay:150ms">w</span>
                                <span style="transition-delay:100ms">o</span>
                                <span style="transition-delay:50ms">r</span>
                                <span style="transition-delay:0ms">d</span>
                            </label>
                            <div *ngIf="registerForm.get('Password')?.hasError('required') && registerForm.get('Password')?.touched" class="invalid-feedback">
                                Password is required
                            </div>
                            <div *ngIf="registerForm.get('Password')?.hasError('pattern')" class="invalid-feedback">
                                Password must have minimum 6 characters!
                            </div>
                            <div class="invalid-feedback" *ngIf="!error">
                                {{errorMessage}}
                                
                            </div>
                            <button type="submit"  [disabled]="enabled"><h1>REGISTER</h1></button>
                        </div>
                        
                        
                    </div>
                </div>
                
               
                
               
            </form>
           
            <button class="switch" (click)="navigateToLogin()">Already Have An Account? Log in!</button>
            <div class="progress">
                <div class="bar"  [ngStyle]="{'margin-left': barMargin + '%'} ">

                </div>
            </div>
            <div class="navigation" >
                <div (click)="next()" 
                class="nav-text" 
                >Next ></div>

                <div (click)="previous()" 
                class="nav-text" style="text-align: right !important;" 
                > < Previous</div>
            </div>
        </div>
    </div>
    
</div>
