$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;
$BORDERCOLOR:rgb(87, 87, 87);
$TABCOLOR:#32373a;
$HOVERTABCOLOR:#32373a;
$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.form-wrap{
    width: 100%;
    height: 100%;
   
    .form-wrap-content{
        width: 98%;
        img{
            width: 150px;
            height: 30px;
        }
        .wrap{
            margin-top: 40px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
          position: relative;
           z-index: 1;
            .progress{
              width: 70%;
              height: 4px;
              border-radius: 25px;
              margin-top: 20px;
              background-color: $TABCOLOR;
              align-self: center;
              .bar{
                transition: 300ms;
                width: 33%;
                height: 100%;
                background-color: $H1COLOR;
                border-radius: 25px;
                cursor: pointer;
                
              }
            }
            .navigation{
              width: 70%;
              font-size: 25px;
              margin-top: 20px;
              align-self: center;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .nav-text{
                font-size: 0.66em;
                color: $PCOLOR !important;
                font-family: $PFONT;
                width: 50%;
                text-align: left;
                transition: 300ms ease-in-out;
                cursor: pointer;
                margin-top:-10px;
              }
            }
            img{
              display: none;
            }
            h1{
                font-size: 1.5em;
                font-family: $HFONT;
                color: $PCOLOR;
                margin: 0;
            }
            p{
                margin: 0;
                margin-top: 10px !important;
                font-size: 0.9em;
                color: $PCOLOR;
                font-family: $PFONT;
            }
            .switch{
              width: 100%;
              background-color: transparent;
              cursor: pointer;
              font-size: 0.6em;
              padding: 0 !important;
              color: $PCOLOR;
              align-self: center;
              text-align: center;
              margin-top: 10px !important;
              border: none;
            }
            .inputs{
                position: relative;
                overflow:hidden;
                
                width: 100%;
                display: flex;
                flex-direction: column;
                
                .country-wrapper{
                  width: 100%;
                  max-height: 0;
                  
                  transition: max-height 0.4s ease-out;
                  transform-origin: top center;
                  overflow-y: scroll;
                  background-color: $BGCOLOR;
                  font-size: 25px;
                  position: absolute;
                  
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  z-index: 3;
              
            
                  
                  .country{
                    font-size: 0.8em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    margin-top: 10px;
                    margin-left: 5px;
                    text-align: left;
                  }
                  .country:last-child{
                    margin-bottom: 10px;
                  }
                }  
                .country-wrapper.open{
                  
                  max-height: 100px; 
                  animation: growDown 400ms ease-in-out forwards;
                  border-bottom: 2px #fff solid;
                }
                @keyframes growDown {
                  0% {
                      transform: scaleY(0);
                  }
                  80% {
                      transform: scaleY(1.1);
                  }
                  100% {
                      transform: scaleY(1);
                  }
              }
                .track{

                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  gap:5%;
                  position: relative;
                 transition: 300ms ease-in-out;
                
                  
                 
                 
                  .first-slide, .second-slide, .third-slide{
                    width: 100%;
                    flex-shrink: 0;
                  }
                }
                .invalid-feedback{
                  color: red;
                  font-size: 0.65em;
                  font-family: $PFONT;
                  margin-top: 10px;
                  
                  position: absolute;
                }
                .error{
      
                  color: red;
                  font-size: 0.65em;
                  font-family: $PFONT;
                  margin-top: 10px;
                  position: absolute;
                  
                  
                }
                button{
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: $H1COLOR;
                    margin-top: 40px;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    transition: 300ms ease-in-out;
                    cursor: pointer;
                    h1{
                        margin: 0;
                        padding: 0;
                        font-family: $HFONT;
                        letter-spacing: 2px;
                        font-size: .9em;
                        color: rgb(255, 255, 255);
                    }
                }
                
                .enabled:hover{
                  transform: scale(0.97);
                }
                p{
                    cursor: pointer;
                    font-size: 0.7em;
                    align-self: center;
                    text-align: center;
                    margin-top: 25px !important;
                }
              
                .form-control {
                    position: relative;
                    margin: 30px 0 35px;
                    width: 100%;
                  }
                  .form-control:first-child{
                    margin-top: 15px !important;
                  }
                  .form-control input {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px #fff solid;
                    display: block;
                   
                    width: 100%;
                    padding: 15px 0;
                    font-size: 14px;
                    color: #fff;
                  }
                  
                  .form-control input:focus,
                  .form-control input:valid {
                    outline: 0;
                    border-bottom-color: lightblue;
                  }
                  
                  .form-control label {
                    position: absolute;
                    font-family: $PFONT;
                    top: 15px;
                    left: 0;
                    pointer-events: none;
                  }
                  
                  .form-control label span {
                    display: inline-block;
                    font-size: 15px;
                    min-width: 5px;
                    color: #fff;
                    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                  }
                  
                  .form-control input:focus+label span,
                  .form-control input:valid+label span {
                    color: lightblue;
                    transform: translateY(-30px);
                  }
            }
        }
    }
}
@media only screen and (min-width: 0px) and (max-width:479px){
  .form-wrap{
    width: 100%;
    height: 100%;
    
    .form-wrap-content{
        width: 98%;
        img{
            display: none;
            width: 150px;
            height: 30px;
        }
        .wrap{
          width: 100%;  
            font-size: 25px;   
            h1{
                font-size: 1.0em;
                margin: 0;
            }
            p{
                margin: 0;
                margin-top: 10px !important;
                font-size: 0.8em;
            }
            .inputs{
                width: 95%;
                .invalid-feedback{
                  font-size: 0.65em;                
                  margin-top: 10px;
                }
                button{
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: $H1COLOR;
                    margin-top: 40px;
                    border-radius: 50px;
                    font-size: 25px;
                    cursor: pointer;
                    h1{
                        margin: 0;
                        padding: 0;
                        font-family: $HFONT;
                        letter-spacing: 2px;
                        font-size: .7em;
                       
                    }
                }
                
                .enabled:hover{
                  transform: scale(0.97);
                }
                p{
                    cursor: pointer;
                    font-size: 0.6em;
                    align-self: center;
                    text-align: center;
                    margin-top: 25px !important;
                }
                
            }
        }
    }
}
}
@media only screen and (min-width: 480px) and (max-width:767px){
  .form-wrap{
    width: 100%;
    height: 100%;
    
    .form-wrap-content{
        width: 98%;
        img{
            display: none;
            width: 150px;
            height: 30px;
        }
        .wrap{
          width: 100%;
            margin-top: 40px;
            font-size: 25px;
            h1{
                font-size: 1.2em;
                margin: 0;
            }
            p{
                margin: 0;
                margin-top: 10px !important;
                font-size: 0.8em;
            }
            .inputs{
                width: 95%;
                .invalid-feedback{
                  font-size: 0.65em;
                  margin-top: 10px;
                }
                button{
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: $H1COLOR;
                    margin-top: 40px;
                    font-size: 25px;
                    transition: 300ms ease-in-out;
                    cursor: pointer;
                    h1{
                        margin: 0;
                        padding: 0;                  
                        letter-spacing: 2px;
                        font-size: .8em;
                    }
                }
                
                .enabled:hover{
                  transform: scale(0.97);
                }
                p{
                    cursor: pointer;
                    font-size: 0.7em;
                    align-self: center;
                    text-align: center;
                    margin-top: 25px !important;
                }
                
            }
        }
    }
}
}
@media only screen and (min-width: 768px) and (max-width:1023px){
  .form-wrap{
    width: 100%;
    height: 100%;
    
    .form-wrap-content{
        width: 98%;
        img{
            display: none;
            width: 150px;
            height: 30px;
        }
        .wrap{
          width: 100%;
           
            font-size: 25px;
            h1{
                font-size: 1.4em;
                font-family: $HFONT;
                margin: 0;
            }
            p{
                margin: 0;
                margin-top: 10px !important;
                font-size: 0.9em;
            }
            .inputs{
                width: 95%;
                .invalid-feedback{
                  font-size: 0.65em;
                  margin-top: 10px;
                }
                button{
                    width: 100%;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    margin-top: 40px;
                    font-size: 25px;
                    transition: 300ms ease-in-out;
                    cursor: pointer;
                    h1{
                        margin: 0;
                        padding: 0;
                        letter-spacing: 2px;
                        font-size: .9em;
                    }
                }
                
                .enabled:hover{
                  transform: scale(0.97);
                }
                p{
                    cursor: pointer;
                    font-size: 0.7em;
                    align-self: center;
                    text-align: center;
                    margin-top: 25px !important;
                }
                .form-control {
                    position: relative;
                    margin: 20px 0 25px;
                    width: 100%;
                  }
                  
                  .form-control input {
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px #fff solid;
                    display: block;
                    width: 100%;
                    padding: 15px 0;
                    font-size: 14px;
                    color: #fff;
                  }
                  
                  .form-control input:focus,
                  .form-control input:valid {
                    outline: 0;
                    border-bottom-color: lightblue;
                  }
                  
                  .form-control label {
                    position: absolute;
                    font-family: $PFONT;
                    top: 15px;
                    left: 0;
                    pointer-events: none;
                  }
                  
                  .form-control label span {
                    display: inline-block;
                    font-size: 15px;
                    min-width: 5px;
                    color: #fff;
                    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                  }
                  
                  .form-control input:focus+label span,
                  .form-control input:valid+label span {
                    color: lightblue;
                    transform: translateY(-30px);
                  }
            }
        }
    }
}
}
@media only screen and (min-width:0px) and (max-width:1023px){
  .form-wrap{
    width: 100%;
    height: 100%;
    position: relative;
  
    .form-wrap-content{
        width: 98%;
        img{
            display: none;
            width: 150px;
            height: 30px;
        }
        .wrap{
            width: 100%;
           
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            img{
              display: inline-flex;
              height: 120px;
              width: 120px;
              margin-bottom: 15px;
            }
            .inputs{
                width: 95%;
                
            }
        }
    }
}
}