$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;

$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $BGCOLOR;
    overflow: hidden;
    .container-content{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        .header{
            width: 80%;
            position: fixed;
            height: 100px;
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-self: center;
            list-style: none;
            gap: 150px;
            .logo{
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                img{
                    width: 70%;
                    height: 40%;
                }
            }
            .nav-bar{
                display: flex;
                flex-direction: row;
                height: 100%;
                justify-content: center;
                align-items: center;
                gap: 45px;
                color: white;
                font-size: 25px;
                li{
                    font-size: 0.8em;
                    font-family: "Josefin Sans", sans-serif;
                }
            }
        }
        .content{
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: row;
            position: relative;
            background-image: url("/assets/images/Group 2 (1).png");
            background-position: top;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;

            .background{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80%
               
            }
            .content-right-section{
                width: 20%;
            }
            .content-left-section{
                width: 80%;
                height: 100%;
               font-size: 25px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                h1{
                    font-size: 2.4em;
                    color: $H1COLOR;
                    font-family: $HFONT;
                    width: 60%;
                    margin: 0;
                }
                p{
                    font-size: 0.9em;
                    color: $PCOLOR;
                    font-family: $PFONT;
                    opacity: 0.8;
                    width: 55%;
                }
                
                div{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    button{
                        padding:20px 40px;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                        background-color: $H1COLOR;
                        font-family: $PFONT;
                        font-size: 0.7em;
                        margin-top: 40px;
                    }
                    button:first-child{
                        background-color: $PCOLOR !important;

                    }
                }
            }
         
         
        }
        .footer{
            font-size: 3em;
            font-family: $HFONT;
            color: $PCOLOR;
            width: 80%;
            align-self: center;
            text-align: center;
        }
        .footer-info{
            display: none;
        }
    }
}
@media only screen and (min-width: 280px) and (max-width:339px){
    .container{
        .container-content{
            .header{
                width: 90%;
                gap:0px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .logo{
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%;
                    }
                    
                }
                .nav-bar{
                    display: none;
                   
                    li{
                        font-size: 0.7em;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
            }
            .content{
                .content-left-section{
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h1{
                        font-size: 1.3em;
                        color: $H1COLOR;
                        font-family: $HFONT;
                        width: 100%;
                        margin: 0;
                    }
                    p{
                        font-size: 0.6em;
                        color: $PCOLOR;
                        font-family: $PFONT;
                        opacity: 0.8;
                        width: 55%;
                    }
                    div{
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        transition: 200ms ease-in-out;
                        button{
                            padding:10px 15px;
                            border-radius: 50px;
                            border: none;
                            outline: none;
                            background-color: $H1COLOR;
                            font-family: $PFONT;
                            font-size: 0.65em;
                            margin-top: 0px;
                            transition: 200ms ease-in-out;
                        }
                        button:first-child{
                            background-color: $PCOLOR !important;
    
                        }
                    }
                }
                
            }
            .footer{
                font-size: 1.6em;
                font-family: $HFONT;
                color: $PCOLOR;
                width: 80%;
                align-self: center;
                text-align: center;
            }
        }
    }
}
@media only screen and (min-width: 340px) and (max-width: 479px) {
    .container{
        .container-content{
            .header{
                width: 90%;
                gap:0px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .logo{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%;
                    }
                    
                }
                .nav-bar{
                    display: none;
                   
                    li{
                        font-size: 0.7em;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
            }
            .content{
                .content-left-section{
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h1{
                        font-size: 1.3em;
                        color: $H1COLOR;
                        font-family: $HFONT;
                        width: 60%;
                        margin: 0;
                    }
                    p{
                        font-size: 0.6em;
                        color: $PCOLOR;
                        font-family: $PFONT;
                        opacity: 0.8;
                        width: 55%;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        transition: 200ms ease-in-out;
                        button{
                            padding:10px 15px;
                            border-radius: 50px;
                            border: none;
                            outline: none;
                            background-color: $H1COLOR;
                            font-family: $PFONT;
                            font-size: 0.65em;
                            margin-top: 40px;
                            transition: 200ms ease-in-out;
                        }
                        button:first-child{
                            background-color: $PCOLOR !important;
    
                        }
                    }
                }
                
            }
            .footer{
                font-size: 1.6em;
                font-family: $HFONT;
                color: $PCOLOR;
                width: 80%;
                align-self: center;
                text-align: center;
            }
        }
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .container{
        .container-content{
            .header{
                width: 90%;
                gap:0px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .logo{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 80%;
                    }
                    
                }
                .nav-bar{
                    display: none;
                   
                    li{
                        font-size: 0.7em;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
            }
            .content{
                .content-left-section{
                    width: 90%;
                    display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                    h1{
                        font-size: 1.6em;
                        color: $H1COLOR;
                        font-family: $HFONT;
                        width: 60%;
                        margin: 0;
                    }
                    p{
                        font-size: 0.6em;
                        color: $PCOLOR;
                        font-family: $PFONT;
                        opacity: 0.8;
                        width: 55%;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        transition: 200ms ease-in-out;
                        button{
                            padding:10px 30px;
                            border-radius: 50px;
                            border: none;
                            outline: none;
                            background-color: $H1COLOR;
                            font-family: $PFONT;
                            font-size: 0.7em;
                            margin-top: 40px;
                            transition: 200ms ease-in-out;
                        }
                        button:first-child{
                            background-color: $PCOLOR !important;
    
                        }
                    }
                }
                
            }
            .footer{
                font-size: 2em;
                font-family: $HFONT;
                color: $PCOLOR;
                width: 80%;
                align-self: center;
                text-align: center;
            }
            .footer-info{
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                h1{
                    font-size: 1.3em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        .container-content{
            .header{
                width: 90%;
                gap:0px;
                .logo{
                    width: 40%;
                    img{
                        width: 70%;
                    }
                }
                .nav-bar{
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    width: 60%;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    color: white;
                    font-size: 25px;
                    text-align: center;
                    li{
                        font-size: 0.7em;
                        font-family: "Josefin Sans", sans-serif;
                    }
                }
            }
            .content{
                .content-left-section{
                    width: 90%;
                    h1{
                        font-size: 2em;
                        color: $H1COLOR;
                        font-family: $HFONT;
                        width: 60%;
                        margin: 0;
                    }
                    p{
                        font-size: 0.7em;
                        color: $PCOLOR;
                        font-family: $PFONT;
                        opacity: 0.8;
                        width: 55%;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        transition: 200ms ease-in-out;
                        button{
                            padding:15px 35px;
                            border-radius: 50px;
                            border: none;
                            outline: none;
                            background-color: $H1COLOR;
                            font-family: $PFONT;
                            font-size: 0.7em;
                            margin-top: 40px;
                            transition: 200ms ease-in-out;
                        }
                        button:first-child{
                            background-color: $PCOLOR !important;
    
                        }
                    }
                }
                
            }
            .footer{
                font-size: 2em;
                font-family: $HFONT;
                color: $PCOLOR;
                width: 80%;
                align-self: center;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .container{
        .container-content{
            .header{
                width: 90%;
                gap: 0px;
                .logo{
                    width: 30%;
                    
                }
            }
            .content{
                .content-left-section{
                    width: 90%;
                    h1{
                        font-size: 2em;
                        color: $H1COLOR;
                        font-family: $HFONT;
                        width: 60%;
                        margin: 0;
                    }
                    p{
                        font-size: 0.7em;
                        color: $PCOLOR;
                        font-family: $PFONT;
                        opacity: 0.8;
                        width: 55%;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        transition: 200ms ease-in-out;
                        button{
                            padding:15px 35px;
                            border-radius: 50px;
                            border: none;
                            outline: none;
                            background-color: $H1COLOR;
                            font-family: $PFONT;
                            font-size: 0.7em;
                            margin-top: 40px;
                            transition: 200ms ease-in-out;
                        }
                        button:first-child{
                            background-color: $PCOLOR !important;
    
                        }
                    }
                }
                
            }
            .footer{
                font-size: 2em;
                font-family: $HFONT;
                color: $PCOLOR;
                width: 80%;
                align-self: center;
                text-align: center;
            }
        }
    }
   
}