<div class="container">
    <div class="container-content">
        <div class="header">
            <div class="logo">
                <img src="./assets/images/PixelNestLogo.png" alt="">
            </div>
            <div class="nav-bar">
                <li>
                    Home
                </li>
                <li>
                    About
                </li>
                <li>
                    Inspiration
                </li>
                <li>
                    Business
                </li>
                <li (click)="navigate('Authentication')">
                    Get Started
                </li>
            </div>
        </div>
        <div class="content">
            <div class="content-left-section">
              
                <h1>
                    More than just a network—it's your community, your space, your world.
                </h1>
                <p>
                    Expand your world, one connection at a time—because together, we can achieve more.
                </p>
                <div>
                    <button (click)="navigate('Authentication')">
                        Get Started!
                    </button>
                    <button>
                        Take a tour!
                    </button>
                </div>
            </div>
           
        </div>
        <h1 class="footer">
            Designed for you, driven by connection—experience the app that brings people together.
        </h1>
     
    </div>
</div>
