<div class="container" >
    <div class="content">
        <div class="input-wrapper">
            <div class="input" [ngStyle]="{'outline': focus ? '2px solid gray':''}">
                <div>
                    <img src="/assets/images/search1.png" alt="">
                    <input type="text" placeholder="Search..." (focus)="onFocus()" (blur)="onBlur()" (input)="onSearch($event)">
                </div>
                
            </div>
        </div>
        <div class="users">
            <div class="content">
                <div class="user-wrap animate__animated animate__fadeInLeft animate__faster" 
                [ngClass]="user.anim ? 'animate__fadeOutRight animate__faster':''" *ngFor="let user of users" 
                (click)="navigate(user.clientGuid)" >
                    <app-profile-image [clientGuid]="user.clientGuid"></app-profile-image>
                    <h1>{{user.username}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
