<div class="container" #chatContainer>
    <div class="content">
        <div class="user-overview">
            <app-profile-image [username]="user.username"></app-profile-image>
            <div class="user-info">
                <h2>{{user.name}}</h2>
                <h1>{{user.username}}</h1>
                <div class="stats">
                    <p>
                        {{user.followers}} followers
                        
                    </p>
                    ·
                    <p>

                        {{user.totalPosts}} posts

                    </p>
                  
                </div>
            </div>
        </div>
        <div class="messages">
            <div *ngFor="let message of messages; let i = index"   >
                <div class="message-user-wrapper" [ngStyle]="{
                    'align-self': message.sender === username ? 'flex-start' : 'flex-end',
                    'flex-direction': message.sender !== username ? 'row-reverse' : ''
                    
                    }">
                    <div>
                        <app-profile-image [username]="message.sender" *ngIf="messages[i+1] == undefined || messages[i].sender != messages[i+1].sender"></app-profile-image>
    
                    </div>
                    <app-message [message]="message.message" [ngStyle]="{ 'background-color': message.sender === username ? 'rgb(124, 196, 255)' : ''}" [senderUsername]="message.sender" >
                    </app-message>
                </div>
                <div [ngStyle]="{
                    'align-self': message.sender === username ? 'flex-start' : 'flex-end',
                    'flex-direction': message.sender !== username ? 'row-reverse' : ''
                    
                    }"  class="time" *ngIf="messages[i+1] == undefined || messages[i].sender != messages[i+1].sender">
                    <span >{{formatDate(message.dateSent)}}
                    </span>
                </div>
               
            </div>
           
        </div>
        <div class="input" >
            <input type="text" placeholder="Message..." [(ngModel)]="message">
            <img src="/assets/images/send.png" alt="" (click)="sendMessage()">
        </div>
    </div>
</div>
