<div class="container" #chatContainer>
    <div class="chat-nav">
        <div class="nav-content">
            <div class="nav">
                <img src="/assets/images/back.png" alt="" (click)="navigate('/inbox')">
                <app-profile-image [clientGuid]="user.clientGuid" [username]="user.username"></app-profile-image>
                <h1>{{user.username}}</h1>
            </div>
        </div>
       
       
    </div>
    <div class="content">
       
        <div class="user-overview">
            <app-profile-image [clientGuid]="user.clientGuid" [username]="user.username"></app-profile-image>
            <div class="user-info">
                <h2>{{user.name}}</h2>
                <h1>{{user.username}}</h1>
                <div class="stats">
                    <p>
                        {{user.followers}} followers
                        
                    </p>
                    ·
                    <p>

                        {{user.totalPosts}} posts

                    </p>
                  
                </div>
            </div>
        </div>
        <div class="messages">
            <div *ngFor="let message of messages; let i = index; trackBy: trackByFn">
                <div class="message-user-wrapper" [ngStyle]="{
                    'align-self': message.userID.toLowerCase() === currentClientGuid ? 'flex-end' : 'flex-start',
                    'flex-direction': message.userID.toLowerCase() !== currentClientGuid ? '' : 'row-reverse'
                    
                    }">
                    <div *ngIf="message.message && message.message.length > 0">
                        <app-profile-image 
                        [clientGuid]="message.userID"
                        [clientGuid]="message.sender"
                         *ngIf="messages[i+1] == undefined || messages[i].sender != messages[i+1].sender"
                         ></app-profile-image>
                        <div class="active-status"
                         *ngIf="message.userID.toLowerCase() !== currentClientGuid && (messages[i+1] == undefined || messages[i].sender != messages[i+1].sender)"
                         [ngStyle]="{'background-color' : isActive() ? 'green' : 'gray'}"
                         > </div>
                    </div>
                    <app-message *ngIf="message.message && message.message.length > 0" [message]="message.message" [ngStyle]="{ 'background-color': message.userID.toLowerCase() !== currentClientGuid ? 'rgb(124, 196, 255)' : ''}" [senderUsername]="message.sender" >
                    </app-message>
                    
                </div>
                <div [ngStyle]="{
                    'align-self': message.userID.toLowerCase() === currentClientGuid ? 'flex-end' : 'flex-start',
                    'flex-direction': message.userID.toLowerCase() !== currentClientGuid ? '' : 'row-reverse'
                    
                    }"  
                    class="time" 
                    *ngIf="(message.message && message.message.length > 0) && (messages[i+1] == undefined || messages[i].sender != messages[i+1].sender)">
                  
                    <span >{{formatDate(message.dateSent)}}
                    </span>
                    <div class="separator" *ngIf="message.isSeen && currentClientGuid == message.userID.toLowerCase()">

                    </div>
                    <span *ngIf="message.isSeen && currentClientGuid == message.userID.toLowerCase()">
                        Seen
                    </span>
                </div>
                
               
            </div>
            <app-typing-indicator *ngIf="isTyping" [clientGuid]="user.clientGuid" [username]="user.username"></app-typing-indicator>
        </div>
        <div class="input" >
            <input type="text" placeholder="Message..." [(ngModel)]="message" (keyup)="typing()" (blur)="stopTyping()">
            <img src="/assets/images/send.png" alt="" (click)="sendMessage()">
        </div>
    </div>
</div>
