$BGCOLOR:#040F16;
$SECTIONLEFT:#062938;
$H1COLOR:#01BAEF;
$PCOLOR:#FBFBFF;
$BORDERCOLOR:rgb(87, 87, 87);
$TABCOLOR:#32373a;
$HOVERTABCOLOR:#32373a;
$PFONT:"Josefin Sans", sans-serif;
$HFONT: "Roboto Condensed", sans-serif;
.container{
    width: 100%;
    height: calc(100dvh - 110px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll !important;
    .chat-nav{
        width: 100%;
        height: 70px;
        right: 0;
        top: 0;
        position: absolute;
        background-color: $BGCOLOR;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
       .nav-content{
        width: 90%;
        .nav{
            display: flex;
            flex-direction:  row;
            align-items: center;
            gap: 26px;
            img{
                width: 20px;
                height: 20px;
            }
            app-profile-image{
                width: 40px;
                height: 40px;
            }
            h1{
                font-size: 1.4em;
                font-family: $PFONT;
                color: $PCOLOR;
                margin-left: -10px;
            }
        }
       }
       
       
    }
    .content{
        width: 100%;
        height: calc(100% - 60px);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        .user-overview{
            margin-top: 170px;
            margin-bottom: 40px;
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            app-profile-image{
                width: 150px;
                height: 150px;
                flex-shrink: 0;
            }
            .user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 25px;
                h2{
                    font-size: 0.8em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    font-weight: 200;
                    margin: 0;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                h1{
                    font-size: 1em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    font-weight: bold;
                    margin: 0;
                }
                .stats{
                    font-size: 0.6em;
                    color: $PCOLOR;
                    font-family: $PFONT;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;

                }
            }
           
        }
        .messages{
            height: 60%;
            width: 100%;
            display: flex;
            
            flex-direction: column;
            gap: 10px;
            div{
                display: flex;
                flex-direction: column;
               
                
                width: 100%;
                gap: 5px;
                
                .time{
                    max-width: 50%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span{
                    
                  
                        font-size: 0.8em;
                        font-family: $PFONT;
                        font-weight: 100;
                        
                        
                    }
                    .separator{
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: rgb(119, 119, 119);
                    }
                }
                
                .message-user-wrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    max-width: 50%;
                    width: fit-content;
                    gap: 5px;
                    flex-shrink: 0;
                    position: relative;
                    .profile-picture{
                        width: 30px;
                        height: 30px;
                        position: relative;
                        .active-status{
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: green;
                            position: absolute;
                            z-index: 4;
                            bottom: -5px;
                            right:  0;
                            border: 2px solid $BGCOLOR;
                        }
                        app-profile-image{
                            width: 30px;
                            height: 30px;
                            flex-shrink: 0;
                        }
                    }
                    .options-box{
                        display: flex;
                        flex-direction: column;
                        justify-content:center;
                        align-items: flex-start;
                        gap: 10px;
                        font-family: $PFONT;
                        color: $PCOLOR;
                        font-size: 25px;
                        margin: 5px;
                        position: absolute;
                        left: -20px;
                        transform: translateX(-100%);
                        padding: 10px 15px;
                        background-color:#555;
                        border-radius: 15px;
                        width: unset !important;
                        p{
                            margin: 0;
                            font-size: 0.6em;
                            display: flex;
                            gap: 10px;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            text{
                                
                            }
                            span{
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-color: #FB2B3A;
                                border: 2px solid #FB2B3A;
                                width: 20px;
                                height: 20px;
                            }
                            img.bin{
                                width: 20px;
                                height: 20px;
                            }
                            img{
                                width: 15px;
                                height: 15px;
                            }
                        }
                        
                    }
                    app-message{
                        background-color: rgb(0, 140, 255);
                        border-radius: 25px;
                        max-width: calc(100% - 30px);
                        height: fit-content;
                        flex-shrink: 0;
                       
                        
                    }
                }
               
            }
           
        }
        .input{
            position: absolute;
            width: 98%;  
            border-radius: 25px;
            height: 40px;
            background-color: #32373a;  
            bottom: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                width: 96%;
                height: 100%;
                border: none;
                outline: none;
                border-radius: 25px;
                background-color: transparent;
                color: white;
            }
            img{
                position: absolute;
                width: 20px;
                height: 20px;
                right: 10px;
            }
        }
    }

}
@media only screen and (min-width: 768px){
    ::-webkit-scrollbar {
        width: 10px; 
        
    }
    
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 5px; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .container{
        height: calc(100dvh - 60px);
        .chat-nav{
            width: 60%;
            height: 70px;
            right: 4% !important;
            z-index: 6;
           .nav-content{
            width: 90%;
            .nav{
                gap: 26px;
                img{
                    width: 20px;
                    height: 20px;
                }
                app-profile-image{
                    width: 40px;
                    height: 40px;
                }
                h1{
                    font-size: 1.4em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    margin-left: -10px;
                }
            }
           }
        }
        .content{
            width: 95%;
            height: calc(100% - 160px);
            .input{
                position: absolute;
                width: 60%;  
                height: 40px;
                bottom: 20px;
                input{
                }
                img{
               
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1300px){
    .container{
        height: calc(100dvh - 60px);
        .chat-nav{
            width: 65%;
            height: 70px;
            right: 4% !important;
            background-color: $BGCOLOR;
            z-index: 6;
           .nav-content{
            width: 90%;
            
            .nav{
                display: flex;
                flex-direction:  row;
                align-items: center;
                gap: 26px;
                img{
                    width: 20px;
                    height: 20px;
                }
                app-profile-image{
                    width: 40px;
                    height: 40px;
                }
                h1{
                    font-size: 1.4em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    margin-left: -10px;
                }
            }
           }
           
           
        }
        .content{
            width: 95%;
            height: calc(100% - 160px);
           
            .input{
                position: absolute;
                width: 65%;  
                height: 40px;
                bottom: 20px;
                input{
                
                }
                img{
               
                }
            }
        }
    }
}
@media only screen and (min-width:1301px){
    .container{
        height: calc(100dvh - 60px);
        .chat-nav{
            width: 65%;
            height: 70px;
            right: 6% !important;
            background-color: $BGCOLOR;
            z-index: 6;
           .nav-content{
            width: 90%;
            
            .nav{
                display: flex;
                flex-direction:  row;
                align-items: center;
                gap: 26px;
                img{
                    width: 20px;
                    height: 20px;
                }
                app-profile-image{
                    width: 40px;
                    height: 40px;
                }
                h1{
                    font-size: 1.4em;
                    font-family: $PFONT;
                    color: $PCOLOR;
                    margin-left: -10px;
                }
            }
           }
           
           
        }
        .content{
            width: 95%;
            height: calc(100% - 160px);
           
            .input{
                position: absolute;
                width: 65%;  
                height: 40px;
                bottom: 20px;
                input{
                
                }
                img{
               
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) {
    
    .container{
        .content{
            height: 100%;
        }
    }
}